<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejercicio3</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://preview.redd.it/f4hxtei3qyv11.jpg?width=640&crop=smart&auto=webp&s=b682167920bfd4c371154bf84f3b31b2130ca9e3" alt="imaguen pikachu">
  <ion-button expand="full" routerLink="/home" routerDirection="forward">MENU<Menu></Menu></ion-button>
  
</ion-content>
