<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" routerLink="/ejercicio1" routerDirection="forward">Ejercio 1</ion-button>
  <ion-button expand="full" routerLink="/ejercicio2" routerDirection="forward">Ejercio 2</ion-button>
  <ion-button expand="full" routerLink="/ejercicio3" routerDirection="forward">Ejercio 3</ion-button>
  <ion-button expand="full">Ejercio 4</ion-button>
  <ion-button expand="full">Ejercio 5</ion-button>

</ion-content>

