.miElemento {
    display: flex;/* o cualquier valor de display que desees por defecto */
    background-color: aqua;
  }
  
  /* Media Query para pantallas con ancho máximo de 600px */
  @media screen and (max-width: 500px) {
    .miElemento {/* Oculta el elemento cuando el ancho es igual o menor a 600px */
      background-color: rgb(0, 0, 0);
    }
  }